<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ApplicationName" value="HomeWork7" />
      <add key="Server" value="SRVTEST" />
      <!-- Сервер (Имя/Адрес) -->
      <add key="SqlInstance" value="SQL" />
      <!-- Инстанс MSSQL -->
      <add key="Database" value="HomeWork7" />
      <!-- Имя базы данных -->
      <add key="User" value="sa" />
      <!-- Имя пользователя -->
      <add key="Password" value="Dz0K1b" />
      <!-- Пароль  -->
      <add key="IntegratedSecurity" value="false" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
</configuration>